# Ignore all bazel-* symlinks.
exoplanet-ml/bazel-*

get_kepler.sh

astronet-venv

exoplanet-ml/model/model-*

kepler

prediction.txt

.vscode/

latte-venv

data

*.png

*.fits

*.csv

*.npy

__pycache__/
*.pyc

*.log

paper_todo.md

TODO.md

comments.md

*.txt